
<html>
<style type="text/css">
  td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
</style>
<h3>All Posts of <%=@user.name%></h3>
<p>----------------------------------------------------------</p>
<table>
  <tr>
    <th>Description</th>
    <th>post_feed</th>
    <th>Likes</th>
  </tr>
  <% @post.each do |f| %>
    <tr>
      <% a=@post.find(f.id)%>
      <td>
        <%= f.Description %>
      </td>
      <td>
        <%= image_tag f.post_feed, size: "50" %>
      </td>
      <td>
        <%= a.likes.count %>
      </td>
    </tr>
  <% end %>
</table>
</html>
